* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Viaoda Libre", serif;
}
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  background-color: white;
  margin: 10px;
}

section {
  padding: 15px;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.btn-success {
  background-color: rgb(101, 190, 101);
  color: rgb(229, 243, 255);
}

.btn-warn {
  background-color: rgb(231, 218, 103);
  color: rgb(27, 17, 17);
}

.btn-stop {
  background-color: rgb(138, 236, 164);
  color: rgb(0, 0, 0);
}

.logo {
  width: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  align-items: center;
  background-color: rgb(180, 238, 239);
}

.nav-list {
  display: flex;
  gap: 15px;
  text-transform: capitalize;
}
/* font-family: "Viaoda Libre", serif; */
.nav-link {
  font-family: "Viaoda Libre", serif;
  font-weight: 600;
  font-size: 20px;
}
.nav-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}
#next {
  /* padding: 20px; */
}

#again {
  /* background-color: rgb(255, 255, 255); */
}
#app {
  /* background-color: red; */
}
#open {
  background-color: transparent;
  border: none;
  display: none;
}
#mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: chartreuse;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
#mobile-menu.active {
  transform: translateX(-300px);
}
/* font-family: "Comic Relief", system-ui; */
.test-title {
  font-family: "Comic Relief", system-ui;
  font-size: 30px;
  text-align: center;
}

.test-btns {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
}
.question-label {
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
  justify-content: left;
  margin-bottom: 5px;
}

.question-txt {
  margin: 5px;
}

#stop {
}

.intro {
  display: flex;
  justify-content: space-around;
}

.intro-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  margin-bottom: 20px;
  text-align: center;
}

.variants-row {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.variants-card {
  width: 30%;
  background-color: rgb(233, 240, 245);
  border-radius: 10px;
  padding: 0 10px;
  padding-bottom: 20px;
}

.variants-card:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.card-line {
  height: 5px;
  width: 50%;
  margin: 0 auto;
  border-radius: 2.5px;
  margin-bottom: 10px;
}
.bg-blue {
  background-color: rgb(51, 51, 118);
}
.bg-green {
  background-color: rgb(85, 164, 85);
}
.bg-purple {
  background-color: rgb(218, 133, 218);
}
.variants-title {
  margin-bottom: 20px;
}
.card-title {
  margin-bottom: 10px;
}
.card-link {
  padding: 8px 12px;
  color: azure;
  border-radius: 10px;
}
.card-description {
  margin-bottom: 15px;
}
